<% flash_classes = {
      notice: "alert alert-info",
      success: "alert alert-success",
      warning: "alert alert-warning",
      alert: "alert alert-danger",
      error: "alert alert-danger"
	}
%>

<% flash.each do |key, msg| %>
  <div class="<%= flash_classes[key.to_sym] %>"><%= msg %></div>
<% end %>